STACK_NAME=virtualizarr-data-pipelines
STAGE="dev"
GARBAGE_COLLECTION_FREQUENCY=2
VPC_ID=
ACCOUNT_ID=
# Set ICECHUNK_BUCKET to use an existing bucket (CDK will reference it, not create it).
# Set ICECHUNK_BUCKET_NAME to have CDK create a new bucket with that name.
ICECHUNK_BUCKET=
ICECHUNK_BUCKET_NAME=icechunk-outuput
